.sectionWhyChooseUs {
  padding-block: 6.8rem;
  /* padding-inline: 12.2rem; */
  background-color: var(--bg--secondary);
  text-align: center;
}

.mainText {
  font-size: 3.6rem;
  color: #1a1a1a;
  margin-bottom: 3.6rem;
}

.whyCardsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem;
  text-align: start;
}

.whyCard {
  border-radius: 1.2rem;
  border: 1px solid var(--clr--border-grey);
  padding: 3.6rem 2.6rem 3.6rem 2.6rem;
}

.iconWrapper {
  padding: 2rem;
  background-color: var(--clr--orange-primary);
  width: min-content;
  border-radius: 1.1rem;
  margin-bottom: 2.8rem;
}

.icon {
  width: 3rem;
  stroke: var(--clr--white-primary);
}

.cardHeading {
  font-size: 1.8rem;
  letter-spacing: 0.3px;
  margin-bottom: 1.4rem;
  line-height: 1.2;
}

.cardDescription {
  font-size: 1.368rem;
  line-height: 1.6;
  color: var(--clr--description-grey);
}
