.sectionAbout {
  padding: 7.8rem;

  display: grid;
  grid-template-columns: 40% 1fr;
}

/* .aboutUsContent {
} */

.aboutUs {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--clr--orange-primary);
  text-transform: capitalize;
  margin-bottom: 2.6rem;
}

.aboutUsHeading {
  font-size: 3.6rem;
  color: #1b1818;
  line-height: 1.2;
  letter-spacing: 0.6px;
  margin-bottom: 1.8rem;
}

.aboutUsHeading span {
  color: var(--clr--orange-primary);
}

.aboutUsDescription {
  font-size: 1.6rem;
  color: var(--clr--description-grey);
}
